body {
	background-color: #DDDDDD;
	width: 700px;
	margin: 0 auto;
	margin-top: 70px;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

button {
	padding: 5px 10px 5px 10px;
	background-color: #555555;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

h1 {
	color: #777777;
	font-size: 2.5em;
	margin-bottom: 10px;
}

h2 {
	margin: 0;
}

p {
	color: #555555;
}

#content {
	text-align: left;
	margin: 0 auto;
	width: 600px;
}

#custom {
	display: none;
}

#header {
	width: 100%;
	margin: 0 auto;
}

#footer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #555555;
	text-align: center;
}

#levelEnd {
	text-align: center;
}

#size {
	width: 20px;
}

#subheader {
	width: 100%;
}

#svg {
	border: 1px solid black;
	background-color: white;
}

#widget {
	width: 80px;
}

.color {
  fill: none;
  stroke-width: 1.6;
}

.score {
	background-color: #999999;
	height: 50px;
	width: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	text-align: center;
}

.label {
	color: #EEEEEE;
	font-weight: bold;
}

.level {
	cursor: pointer;
}

.levelText {
	text-anchor: middle;
	font-weight: bold;
	fill: white;
	cursor: pointer;
}

.button {
	cursor: pointer;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid black;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid black;
}

.value {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}